# -----------------------
# Virtual Environments
# -----------------------
venv/
env/
ENV/
idea/
.venv/
.ENV/
.idea/
.vscode/

# -----------------------
# Jupyter Notebooks
# -----------------------
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Jupyter Notebook metadata
*.nbconvert.ipynb
*.html
*.pdf
*.xml
*.iml
*.pyc